*.egg-info
logs
output
**/*/__pycache__
**/*/.ipynb_checkpoints

**/*.pkl
**/*.faiss
.idea
.vscode
vectoria_logs/
log/
*-env/
led_use_case

*.err
*.out
*_key.txt

results/*
test/test_pipeline_executor_logs/
test/test_build_index_logs/
bin/test_build_index_logs/

push_to_origin_gh.sh

!test/data/index/attention_is_all_you_need_index/index.faiss
!test/data/index/attention_is_all_you_need_index/index.pkl

