*.egg-info
logs
output
**/*/__pycache__
**/*/.ipynb_checkpoints

**/*.pkl
**/*.faiss
.idea
vectoria_logs/
log/
*-env/
led_use_case

*.err
*.out
*_key.txt

results/
test/test_pipeline_executor_logs/

push_to_origin_gh.sh

!test/data/index/BAAI__bge-m3_faiss_index/index.faiss
!test/data/index/BAAI__bge-m3_faiss_index/index.pkl

