#!/bin/bash

#SBATCH --account={{ account }}
#SBATCH --job-name=inference
#SBATCH --output=%j.out
#SBATCH --error=%j.err
#SBATCH --partition={{ partition }}
#SBATCH --time 00:30:00     # format: HH:MM:SS
#SBATCH -N 1                
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task={{ cpus }}  
#SBATCH --gres=gpu:{{ gpus }}
#SBATCH --exclusive

export PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True  # Avoid fragmentation

export TMPDIR={{ tmpdir }}
export TMP={{ tmpdir }}

#-------------------------------------------------------

# COPY MODEL ON REMOTE NODE'S RAM BEFORE EXECUTION
MODEL_PATH={{ install_path }}/inference_engine
RAM_PATH=/dev/shm   

# 1. Copy model to RAM
echo "Copying inference model to RAM..."
start_time=$(date +%s)   # Record the start time
cp -r $MODEL_PATH $RAM_PATH
end_time=$(date +%s)     # Record the end time

# 2. Calculate and display time taken to copy the model
time_taken=$((end_time - start_time))
echo "Model copied to RAM in $time_taken seconds."

#-------------------------------------------------------

# COPY RERANKER MODEL ON REMOTE NODE'S RAM BEFORE EXECUTION
MODEL_PATH={{ install_path }}/reranker_model
RAM_PATH=/dev/shm

# 1. Copy model to RAM
echo "Copying reranker model to RAM..."
start_time=$(date +%s)   # Record the start time
cp -r $MODEL_PATH $RAM_PATH
end_time=$(date +%s)     # Record the end time

# 2. Calculate and display time taken to copy the model
time_taken=$((end_time - start_time))
echo "Model copied to RAM in $time_taken seconds."

#-------------------------------------------------------

{% for module in hpc_modules %}
module load {{ module }}
{% endfor %}
echo "All modules loaded..."

source {{ install_path }}/vectoria_env/bin/activate
echo "Environment loaded..."

FAISS_INDEX_PATH=$(realpath {{ install_path }}/vectoria/test/index/*)
TEST_SET_PATH={{ install_path }}/vectoria/test/data/results/test.json
OUTPUT_DIR={{ install_path }}/vectoria/test/data/results
CONFIG_FILE_PATH={{ install_path }}/vectoria/etc/default/default_config.yaml

echo "START"
# OPTION 1: QUESTIONS FROM FILE
python vectoria --config $CONFIG_FILE_PATH inference --faiss-index-path $FAISS_INDEX_PATH --test-set-path $TEST_SET_PATH --output-dir $OUTPUT_DIR
# OPTION 2: QUESTIONS FROM CLI
#python vectoria --config $CONFIG_FILE_PATH inference --faiss-index-path $FAISS_INDEX_PATH --questions "Which is the training regime for the models?" "Which models are tested?" --output-dir $OUTPUT_DIR
echo "END"
